/* section: hero/splash */
.hero-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
}

.hero-image {
  width: 100%;
}

.overlay {
  background-color: #ADB2BC;
  position: absolute;
  top: 40%;
  text-align: center;
  opacity:.7;
  padding: 15px;
  width: 100%;
}

#main-headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #000;
  font-weight: 700;
}

#main-subhed {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #000;
}
/* end of hero/splash section */


.main-content {
  margin: 0 auto;
  width: 70%;
}

#byline {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* basic body paragraphs */
p {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1.1em;
}

/* links */
a {
  color: #CF2C2C;
}

ul {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1.1em;
}

.chapter-headline {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 0;
  color: #000;
}

/* section: story images */
.image-div {
  margin: 50px 0 50px 0;
}

.story-image {
  width:100%;
  margin: 0 auto;
}

.caption {
  font-size: .85em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-left: 15px;
  color: #6B7385;
 }
/* end of story images section */


/* for datawrapper charts and storymapjs*/
.chart {
  padding: 40px 0 40px 0;
  max-width: 100%;
  margin: 0 auto;
}

/* section: YouTube video */
.video-container {
  margin: 50px 0 50px 0;
}

  /* big big thanks to Zach from howchoo.com for the responsive code here! */
    .embed-youtube {
      position: relative;
      padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
      /* padding-bottom: 62.5%; - 16:10 aspect ratio */
      /* padding-bottom: 75%; - 4:3 aspect ratio */
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }

    .embed-youtube iframe,
    .embed-youtube object,
    .embed-youtube embed {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  /* thanks again Zach; code via howchoo.com/webdev/how-to-make-youtube-videos-responsive-without-js */

/* end of video section */

/* section: findings text boxes */

.column-boxes {
  background-color: #CACDD3;
  color: #000;
  padding: 5px;
  margin: 5px;
}

.centered-column {
  background-color: #CACDD3;
  color: #000;
  padding: 5px;
  margin: 5px 5px 40px 5px;
}

.box-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 15px;
}

.box-bold {
  font-weight: 600;
}
/* end of text boxes section */

/*section: pull quotes*/
.blockquote {
  border-top: #CF2C2C solid 2px;
  border-bottom: #CF2C2C solid 2px;
  margin: 40px 20px 40px 20px;
  padding: 10px;
}

.quote-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #CF2C2C;
  margin: 0 auto;
}

.quote-attribution {
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: #6B7385;
}
/*end of pull quote section*/

/* section: footer */
 .footer-box {
   background-color: #6B7385;
   width: 100%;
   padding: 10px 0 0 0;
   margin: 50px 0 0 0;
 }

 .footer-text {
   font-size: .8em;
   font-family: 'Source Serif Pro', serif;
   padding: 10px 20px 20px 10px;
   margin: 20px 0 0 0;
   text-align: center;
   color: white;
 }
/* end of footer section */


/* section: media queries */
@media (max-width:1100px) {

   #main-headline {
     font-size: 3em;
   }

   #main-subhed {
     font-size: 1.6em;
   }

}

@media (max-width:900px) {

   #main-headline {
     font-size: 2.4em;
   }

   #main-subhed {
     font-size: 1.4em;
   }
}

@media (max-width:650px) {

   #main-headline {
     font-size: 1.6em;
   }

   #main-subhed {
     font-size: 1.3em;
   }

   .quote-text {
     font-size: 1em;
   }

   .quote-attribution {
     font-size: .8em;
   }
}

@media (max-width:580px) {

   #main-headline {
     font-size: 1.4em;
   }

   #main-subhed {
     font-size: 1.1em;
   }
}

/* end of media queries section */
