body {
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: #ADB2BC;
  position: absolute;
  top: 40%;
  text-align: center;
  opacity:.7;
  padding: 15px;
  width: 100%;
}

#main-headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #000;
  font-weight: 700;
}

#main-subhed {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #000;
}

.hero-container {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
}

.hero-image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-content {
  margin: 0 auto;
  width: 70%;
}

#headline {
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*basic body paragraphs*/

p {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1.1em;
}

ul {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1.1em;
}

.chapter-headline {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

/*image captions*/
.caption {
  font-size: .8em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-left: 15px;
  color: #999FAC;
 }

h3 {
   font-size: 1.5em;
   font-weight: 500;
   text-align: left;
   font-family: 'Montserrat', sans-serif;
 }

 .footer-box {
   background-color: #ADB2BC;
   width: 100%;
   padding: 10px 0 0 0;
   margin: 50px 0 0 0;
 }

 .footer-text {
   font-size: .8em;
   font-family: 'Source Serif Pro', serif;
   padding: 10px 20px 20px 10px;
   margin: 20px 0 0 0;
   text-align: center;
 }

 iframe {
   max-width: 100%;
   margin: 0 auto;
}

/*for datawrapper chart*/
.chart {
  margin: 20px;
  padding: 20px;
}

.blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #BD1920;;
  margin: 0 auto;
  padding: 15px;
  margin: 10px;
}

.pull-quote-border {
  border-top:#8B90A2 4px;
  border-bottom:#8B90A2 4px;
  margin: 20px;
}

.quote-attribution {
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: #8B90A2;
}


/* media queries */
@media (max-width:1100px) {

   #main-headline {
     font-size: 3em;
   }
}
