.overlay {
  background-color: #ADB2BC;
  position: absolute;
  top: 60%;
  text-align: center;
  opacity:.7;
  padding: 15px;
  width: 100%;
}

#main-headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #000;
  font-weight: 700;
}

#main-subhed {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: #000;
}

.hero-image {
  width: 100%;
  margin-bottom: 20px;
}

.main-content {
  max-width: 80%;
}

#headline {
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*basic body paragraphs*/

p {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1em;
}

ul {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1em;
}

.chapter-headline {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0 10px 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

/*image captions*/
.caption {
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-left: 15px;
  color: #999FAC;
 }

h3 {
   font-size: 1.5em;
   font-weight: 500;
   text-align: left;
   font-family: 'Montserrat', sans-serif;
 }

 .row {
   padding: 30px 0 0 0;
 }

.column-box {
  background-color: #ECECEC;
  opacity: .5;
  margin:0 15px 0 15px;
  padding: 10px;
  margin: 0 auto;
}
 .column-text {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: #000;
   padding: 10px;
   font-size: 1em;
 }

 .footer-box {
   background-color: #ADB2BC;
   padding: 10px 0 0 0;
   margin: 50px 0 0 0;
 }

 .footer-text {
   font-size: .8em;
   font-family: 'Source Serif Pro', serif;
   padding: 10px 20px 20px 10px;
   margin: 20px 20px 20px 20px;
   text-align: center;
 }

 iframe {
   max-width: 100%;
   margin: 0 auto;
}

/*for datawrapper chart*/
.chart {
  margin: 20px;
  padding: 20px;
}

.blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #ADB2BC;
  margin: 0 auto;
  padding: 10px;
}

.pull-quote-border {
  border-top:#ECECEC dotted 15px;
  border-bottom:#ECECEC dotted 15px;
  margin: 20px;
}

.quote-attribution {
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: #999FAC;
}
/* media queries */
@media (max-width:950px) {

   #main-headline {
     font-size: 3em;
   }
}
