/* styles for my resume */

/* everything in body */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #444;
}

/* my name at top - now as a div */
#name {
  color: #33485e;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* my current title */
strong {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

/* section titles (education, experience, etc) */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

/* job titles */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/* job organizations */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* job dates */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  /* question: why does the Codecademy format we learned (writing margins as margin: 2 0 0;) not work here? The spacing looks different.*/
}


/* contact info, skills, and eduation */
ul {
  font-size: 1em;
}

/* container div - encompasses everything in body */
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
